body {
	background-color: #e7eee7;
	margin: 0 auto;
	/* background: rgb(65, 155, 255);
	background: linear-gradient(
		0deg,
		rgba(65, 155, 255, 1) 0%,
		rgba(0, 0, 31, 1) 100%
	);
	background-attachment: fixed; */
}

.backgr  {
	background-image: url(/img/banner-logo.PNG);
	background-attachment: fixed;
	background-position: center;
	background-size: 100% auto;
	color: #fff;
	text-shadow: 2px 2px 5px #000000;
	padding: 10%;
	font-size: 18px;
}

/* banner dla index.html */
#banner{
	background-image: url(/img/banner-logo.PNG);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  	background-size: 100% auto;
	padding: 10%;
	opacity: 95%;
}

#banner h1{
	color: #fff;
	text-shadow: 2px 2px 5px #000000;
}


.card {
	box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}


main {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
	gap: 10px 20px;
	row-gap: 10px;
	column-gap: 20px;
}

h1 {
	text-align: center;
	margin-top: 55px;
	padding: 20px;
	color: black;
}

main {
	padding: 20px;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin-bottom: 5%;
}

h3 {
	text-align: center;
}

article {
	text-align: center;
	width: 100%;
	margin: 10px;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.flex-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.flex-cards div{
	margin: 10px;
}
.flex-cards div img{
	max-height: 232px;
	
}
article p {
	text-align: justify;
	line-height: 1.8;
	padding: 10px 20px 0px 8px;
	
}

#to-top {
	position: fixed;
	background-color: #9fbeec4b;
	border-radius: 50%;
	border-color: #0d6efd;
	color: white;
	bottom: 10px;
	right: 10px;
}

footer {
	
	bottom: 0;
	background-color: #212529;
	color: #ffffff8c;
	padding: 1.5rem;
	text-align: center;
}

section.author {
	display: flex;
	justify-content: center;
}

.img-logo {
	height: 50%;
	width: 50%;
}
table{
	background-color: #fff;
}

article ul li{
	text-align: left;
	
}

ul li a{
	text-decoration: none;
	color:var(--bs-body-color);
}
/* karuzela */
.carousel-control-next, .carousel-control-prev {
    width: 50px;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.cards-wrappers{
    display: flex;
    justify-content: center;
   
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    position: absolute;
    background-color: #43434394;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top:50%;
    transform: translateY(-50%);
}


.cards-wrappers{
    display: flex;
    justify-content: center;
}





/*animacja dla przejśc */

.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }



	@media screen and (max-width: 764px) {
		article {
			width: 100%;
			margin: auto;
			padding: 15px;
		}
	
		h1 {
			margin-top: 18%;
		}
	
		#banner{
			background-image: url(/img/banner-logo.PNG);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto auto;
			padding: 10%;
			opacity: 95%;
		}
	
		.backgr  {
			background-image: url(/img/banner-logo.PNG);
			background-attachment: fixed;
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;
			color: #fff;
			text-shadow: 2px 2px 5px #000000;
			padding: 5%;
			font-size: 14px;
		}
	
		.rwd-scroll-table{
			overflow-x: scroll;
		}
	
		.cards-wrappers{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			
			align-items: center;
		   
		}
	
		.cards-wrappers .card{
			margin: 1rem 0rem;
			width: calc(100%/1.75);
			height: 25%;
			
		}
		.card-text{
			padding: 0;
		}
	 
		.card-body a{
			align-self: flex-end;
		}
		.img-wrapper{
			height: 10vw;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.img-wrapper img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	
	
	
	@media  (min-width: 765px) and (max-width: 1199px){
		
		.cards-wrappers{
			display: flex;
			justify-content: center;
		   
		}
		
		.cards-wrappers .card{
			margin: 0 0.5rem;
			width: calc(100%/4);
			height: 400px;
			
		}
	  
		.card-body a{
			align-self: flex-end;
		}
	
		.img-wrapper{
			height: 10vw;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.img-wrapper img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	@media screen and (min-width: 1200px){
		.cards-wrappers{
			display: flex;
			justify-content: center;
		   
		}
	 
		.cards-wrappers .card{
			margin: 1rem 1rem;
			width: calc(100%/3);
			height: 370px;
			
		}
	 
		.card-body a{
			align-self: flex-end;
		}
	
		.img-wrapper{
			height: 10vw;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.img-wrapper img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	