main{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}


h1{
    text-align: center;
    padding: 20px;
}

main{
    padding: 20px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
article{
    
    margin: 10px;
    padding: 20px;
    background-color: #212529;
    color: white;
    border-radius: 20px;
}

article p{
    text-align: justify;
}

#to-top {
    position: fixed;
    background-color: #9fbeec4b;
    border-radius: 50%;
    border-color: #0d6efd;
    color: white;
    bottom: 10px;
    right: 10px;
    
   
}

