main{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}


h1{
    text-align: center;
    padding: 20px;
}

main{
    padding: 20px;
}